<!DOCTYPE html5>
<html>
	<header>
		<title>Form</title>
	</header>
	<body>
		<form method="post" enctype="multipart/form-data">
			<input type="file" name="burglarPhoto" />
			<input type="text" name="burglarName" />
			<input type="submit" value="Submit"/>
		</form>
	</body>
</html>